@import 'bootstrap/scss/bootstrap';

/* Custom styles can be added below */

@import 'bootstrap/scss/bootstrap';

// body styling
body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif !important;
  background: #fff;
}

:root {
  --color-red: #d51d30;
  --color-orange: #ffa500;
  --color-black: #020202;
  --color-light-black: #333333;
  --color-gry: #b1b1b1;
  --color-white: #ffff;
}

// extra margin styling
p {
  margin: 0 !important;
}

h1 {
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

h3 {
  margin: 0 !important;
}

h4 {
  margin: 0 !important;
}

h5 {
  margin: 0 !important;
}

h6 {
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}